/* -------------
    Grid style
    ------------ */
section#opening,
section#data,
section#apps,
section#explained,
section#calltoaction{
  display:grid;
  grid-gap: 15px;
  grid-template-columns:minmax(320px, 1fr);
}

/* -----------
    general 
   ----------- */
section#opening div,
section#data div,
section#apps div,
section#explained div,
section#calltoaction div {
  min-height: 150px;
  margin-bottom: 15px;
  font-size: 20px
}

section#opening p,
section#data p,
section#apps p,
section#explained p,
section#calltoaction p{
  font-size:15px
}

/* -----------
     colors
   ----------- */ 
html {
  background: linear-gradient(to bottom right, lightskyblue, firebrick);
}

div#twitter{
  background:lightskyblue;
}

div#buzzfeed{
  background:brown;
}

div#facebook{
  background:royalblue;
	}
	
/* ---------------
    font specifics 
   --------------- */
body{
	font-family:'Playfair Display', serif;
	}

h1 {
	text-align:center;
	font-size: 50px;
	}
	
h2 {
	text-align:center;
	}
	
h4 {
	text-align:center;
	font-size:40px;
	}
	
h5 {
	font-size: 40px;
	}

h7 {
	font-size: 25px;
	}
	
section#opening p{
	font-weight: normal;
	text-align: center;
	}
	
div#writing p{
	font-size: 25px;
	}
	
/* ----------------------
   differing grid styles
   ---------------------- */
	
section#opening {
  grid-template-columns: 1fr 1fr;
  }

	
section#data{
  grid-template-columns: 1fr;
  }
  
section#apps p{
	margin-left: 20px;
	}
  
  section#calltoaction{
grid-template-rows: fit-content(100%);
  }
  
  
/* --------
   images
   -------- */
Img {
Width: 100% 
}

/* --------
    videos
    ------- */
/* -----------------------------------
   changing styles for bigger screens
   ----------------------------------- */

@media only screen and (min-width: 1080px) {

section#data img{
  grid-template-columns: 2fr 1fr;
  }
  
section#explained{ 
/* however to make it so the min max works so that the full video shows on the left, then the divs twitter, facebook, buzzfeed*/
  }
  
section#calltoaction{
/*however to make it so the min max works so that the full video shows on the right, then the divs explanation and what can we do on the left and bottom*/
  }
}


@media screen and (min-width: 670px) {

section#explained{
/*same as explained for min width 1080px*/
  }




  
  
  
  
  
  
  
  
  
  
  