section#opening,
section#explained,
section#data,
section#calltoaction{
  display:grid;
  grid-gap: 15px;
}

section#explained div,
section#data div,
section#calltoaction div {
  min-height: 150px;
  margin-bottom: 15px;
  font-size: 20px
}

section#opening p,
section#explained p,
section#data p,
section#calltoaction p{
  font-size:15px
}

div#twitter{
  background:lightskyblue;
}

div#buzzfeed{
  background:brown;
}

div#facebook{
  background:royalblue;
}

h4 {
	text-align:center;
	font-size:30px;
	}
	
h5 {
	text-align:center;
	font-size: auto;
	}
	
section#opening{
	grid-template-columns: 1fr 2fr;
	}

section#explained{
	grid-template-columns: 2fr 1fr 1fr 1fr
	grid-template-rows: 2-3;
	}
	
section#data{
  grid-template-columns: 1fr;
  }

section#calltoaction{
  grid-template-columns: 1fr 2fr;
  }