section#opening,
section#explained,
section#data,
section#calltoaction{
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr;
}

section#explained div,
section#data div,
section#calltoaction div {
  min-height: 150px;
  margin-bottom: 15px;
  font-size: 20px
}

section#opening p,
section#explained p,
section#data p,
section#calltoaction p{
  font-size:15px
}

div#twitter{
  background:lightskyblue;
}

div#buzzfeed{
  background:brown;
}

div#facebook{
  background:royalblue;
	}

h1 {
	text-align:center;
	}
	
h4 {
	text-align:center;
	font-size:30px;
	}
	
h5 {
	text-align:center;
	font-size: 30px;
	}
	
section#opening

section#explained{
	grid-template-columns: repeat (auto-fit, minmax(320px, 1fr));
	}
	
section#data{
  grid-template-columns: 1fr;
  }

section#calltoaction{
  grid-template-columns: 1fr 2fr;
  }
  
section#calltoaction {
	grid-template-columns: repeat (auto-fit, minmax(320px, 1fr));
	}
  
  
  
  
  
  
  
  
  
  